body {
	font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
}

.text-center.text-center {
	text-align: center;
}

.text-error.text-error {
	color: negative-accent;
}

.text-warning.text-warning {
	color: warning-accent;
}

.text-success.text-success {
	color: primary;
}

.text-small.text-small {
	font-size: 0.9rem;	
}