body {
	font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	font-weight: 300;
}

.text-center.text-center {
	text-align: center;
}

.text-error.text-error {
	color: negative-accent !important;
}

.text-warning.text-warning {
	color: warning-accent !important;
}

.text-success.text-success {
	color: primary;
}

.text-small.text-small {
	font-size: 0.9rem;	
}

.currency-display {
	display: inline-block;
	font-size: 0.85em;
	opacity: 0.5;
	text-transform: uppercase;
}