bg = #ffffff;
bg-accent = #e6e6e6;

bg-dark = #1d1e21;
bg-dark-accent = #25272a;

primary = #19cf86; //#46D89E //#19CF86
primary-light = #edfbf6;
//primary = #4e9c6b;
primary-dark = darken(#1ed660, 20%);

/* accent = #78b95d;
accent-dark = darken(accent, 20%); */

warning-accent = #cfbb19;
warning-dark = darken(warning-accent, 20%);

negative-accent = #9b4343;
negative-dark = darken(negative-accent, 20%);

light-gray = #e5e5e5;
dark-gray = #383838;

global-box-shadow = 0 5px 10px rgba(0, 0, 0, 0.1);